<main role="main" class="container">
    <div class="starter-template">
        <h1>Stateful</h1>
        <p class="lead">Ejemplo componente stateful</p>

        <div class="card-deck d-flex">
            <div class="card col-3 m-2" *ngFor="let movil of shopModel">
               <app-stateless [product]="movil"(boughtItemEmiter)="setBoughtItems($event)" > </app-stateless>
            </div>

            <ul class="list-group">
                <li *ngFor="let boughtItem of boughtItems" class="list-group-item"> {{boughtItem.title}}</li>
                <li class="list-group-item disabled"><h2>Total: {{precioTotal() | currency:"&euro;"}}</h2></li>
            </ul>  
        </div>
        <app-confirm [product] = "boughtItems" [precio]= "precioTotal()"></app-confirm>
    </div>
</main>
